repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    - id: end-of-file-fixer

  - repo: https://github.com/PyCQA/flake8
    rev: 3.9.2
    hooks:
    - id: flake8
      args:
        - --ignore=C901,E741
        - --max-line-length=130
        - launchable/
        - tests/

  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
    - id: isort
      args:
        - "-l 130"
        - --balanced
        - launchable/*.py
        - tests/*.py

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.7.0
    hooks:
    - id: autopep8
      args:
        - --in-place
        - --recursive
        - --aggressive
        - --experimental
        - --max-line-length=130
        - launchable/
        - tests/
