[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.6"

[dev-packages]
flake8 = "*"
setuptools = ">=30.3.0"
setuptools-scm = "*"
wheel = "*"
# The last flake8 version that supports Python 3.6 specifies "pycodestyle >=
# 2.9.0, < 2.10.0". ref: https://github.com/PyCQA/flake8/pull/1633
# The latest autopep8 specifies "pycodestyle >= 2.10.0". This conflict cannot be resolved. Pin the version to resolve this.
autopep8 = "<=1.7.0"
importlib-metadata = "<5.0"
isort = "*"
more_itertools = "<8.15"
mypy = "*"
pre-commit = "*"
responses = "*"
types-click = "*"
types-pkg_resources = "*"
types-python-dateutil = "*"
types-requests = "*"
types-tabulate = "*"
lxml = "<=4.9.4"
unittest-xml-reporting = "*"

[packages]
launchable = {editable = true, path = "."}

[scripts]
build = "python setup.py sdist bdist_wheel"
format = "/bin/bash -c 'isort -l 130 --balanced launchable/*.py tests/*.py && autopep8 --in-place --recursive --aggressive --experimental --max-line-length=130 --verbose launchable/ tests/'"
install = "pip install -U ."
lint = "flake8 --count --ignore=C901,E741,F401 --show-source --max-line-length=130 --statistics launchable/ tests/"
lint-warn = "flake8 --count --exit-zero --max-complexity=15 --max-line-length=130 --statistics launchable/ tests/"
test = "python -m unittest"
test-xml = "python -m test-runner"
type = "mypy launchable tests"
