[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.5"

[dev-packages]
flake8 = "*"
setuptools = ">=30.3.0"
setuptools-scm = "*"
wheel = "*"
# The last flake8 version that supports Python 3.5 specifies "pycodestyle >=
# 2.7.0, < 2.8.0". The latest autopep8 specifies "pycodestyle >= 2.8.0". This
# conflict cannot be resolved. Pin the version to resolve this.
autopep8 = "<=1.5.7"
importlib-metadata = "*"
more_itertools = "<8.6"
mypy = "*"
pre-commit = "*"
responses = "*"
types-click = "*"
types-pkg_resources = "*"
types-python-dateutil = "*"
types-requests = "*"
types-tabulate = "*"
unittest-xml-reporting = "*"

[packages]
launchable = {editable = true, path = "."}

[scripts]
build = "python setup.py sdist bdist_wheel"
format = "/bin/bash -c 'isort --balanced **/*.py && autopep8 -ivr .'"
install = "pip install -U ."
lint = "flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics"
lint-warn = "flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics"
test = "python -m unittest"
test-xml = "python -m test-runner"
type = "mypy launchable tests"
