name: Bazel test
on:
  push:
    branches:
      - main
    paths:
      - 'WORKSPACE'
      - 'src/**'
      - '!src/**.md'
  pull_request:
    paths:
      - 'WORKSPACE'
      - 'src/**'
      - '!src/**.md'
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Set up JDK 8
        uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12 # v4.7.0
        with:
          distribution: temurin
          java-version: '8'
      - name: Setup Bazel
        uses: bazelbuild/setup-bazelisk@b39c379c82683a5f25d34f0d062761f62693e0b2 # v3.0.0
      - name: Cache Bazel outputs
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: "~/.cache/bazel"
          key: bazel
      - name: Run Bazel test
        run: |
          bazel test //...
