name: Bazel test
on:
  push:
    branches:
      - main
    paths:
      - 'WORKSPACE'
      - 'src/**'
      - '!src/**.md'
  pull_request:
    paths:
      - 'WORKSPACE'
      - 'src/**'
      - '!src/**.md'
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: Set up JDK 8
        uses: actions/setup-java@387ac29b308b003ca37ba93a6cab5eb57c8f5f93 # v4.0.0
        with:
          distribution: temurin
          java-version: '8'
      - name: Setup Bazel
        uses: bazelbuild/setup-bazelisk@95c9bf48d0c570bb3e28e57108f3450cd67c1a44 # v2.0.0
      - name: Cache Bazel outputs
        uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84 # v3.3.2
        with:
          path: "~/.cache/bazel"
          key: bazel
      - name: Run Bazel test
        run: |
          bazel test //...
