name: Update maven_install.json
on:
  pull_request:
    paths:
      - 'WORKSPACE'
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          # Bot token is needed to ensure that git-push triggers relevant workflows
          # See https://github.com/orgs/community/discussions/27146
          token: ${{ secrets.LAUNCHABLEINC_CI_GITHUB_TOKEN }}
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
      - name: Setup Bazel
        uses: bazelbuild/setup-bazelisk@b39c379c82683a5f25d34f0d062761f62693e0b2 # v3.0.0
      - name: Cache Bazel outputs
        uses: actions/cache@6849a6489940f00c2f30c0fb92c6274307ccb58a # v4.1.2
        with:
          path: "~/.cache/bazel"
          key: bazel
      - name: Update maven_install.json
        run: |
          bazel run @unpinned_maven//:pin
      - name: Commit updated files
        run: |
          if ! git diff --exit-code --quiet
          then
            git add src/maven_install.json
            git config --local user.email "nobody@launchableinc.com"
            git config --local user.name "File Update GitHub Workflow"
            git commit -m "Update maven_install.json"
            git push
          fi
